div {
  border: 2px solid black;  /* 컴포넌트 사이에 경계를 주자ㅏ */
  margin: 5px;
  padding: 5px;
  margin-right: 100px;
}

div#super { /*id가 super인*/
  border: 2px dotted pink;
  margin: 5px;
  padding: 5px;
  margin-right: 100px;
}